body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #444;
	color: #fff;
	padding: 20px;
}

nav {
	float: left;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

h1, h2 {
	font-size: 2em;
	margin: 0;
}

button {
	background-color: #0066cc;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

footer {
	background-color: #ccc;
	padding: 20px;
	text-align: center;
}
.cus
{
	text-align:center;
}
